<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bargava</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
      <img class="headshot" src="img/bargava.jpg">
      <h1> Bargava </h1>
      <nav>
         <a href="/"> home </a>
         <a href="/about"> about </a>
         <a href="https://github.com/rouseguy"> github </a>
         <a href="https://twitter.com/bargava"> twitter </a>
        </nav>
    </header>

    <main>

